<nav>
    <div class="container-fluid nav_first_div  p-0">
        <div class=" nav_second_div d-flex mx-auto justify-content-between align-items-center p-3">
            <div class="logo-profile">
                <a href="#">
                    <img src="/images/logo-landing-page.png" class="" alt="Logo ">
                </a>
            </div>
            <a href="/donations">Donation</a>
            <a href="/items">Items</a>
            <a href="/profile">Profile</a>
            <div class="exit_logo">
                <a href="/api/user/logout"><img src="/images/exit-icon.png" alt="Exit"></a>
            </div>
        </div>
    </div>
</nav>