<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>item_requested</title>

    <link rel='stylesheet' href='style.css'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous'>
</head>

<body>
    <nav>
        <div class="container-fluid nav_first_div  p-0">
            <div class=" nav_second_div d-flex mx-auto justify-content-between align-items-center p-3">
                <div class="logo-profile">
                    <a href="#">
                        <img src="images/logo-landing-page.png" class="" alt="Logo ">
                    </a>
                </div>
                <a href="donations.html">Donation</a>
                <a href="items.html">Items</a>
                <a href="profile.html">Profile</a>
                <div class="exit_logo">
                    <a href="index.html"><img src="images/exit-icon.png" alt="Exit"></a>
                </div>
            </div>
        </div>
    </nav>

    <main class="my-3 main_page_item">
        <div class="container-fluid ">
            <div class="upper d-flex align-items-center ">
                <span class="upper_span_items mx-5">Items up for donation</span>
                <div class="d-flex search-bar bg-light flex-grow-1 align-items-center">
                    <form class="form-inline my-2 flex-grow-1  my-lg-0">
                        <input class="form-control d-inline   bg-light w-100" id="search_bar" type="search"
                            placeholder="Search" aria-label="Search">
                    </form>
                    <img src="images/exit-icon.png" for="search_bar" alt="Search">
                </div>
            </div>
            <div class="lower mt-4">
                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                    <div class="item-img">
                        <img src="images/logo-landing-page.png" alt="Item">
                    </div>
                    <div class="item_name h-100 d-flex flex-column align-items-center justify-content-between">
                        <h5 class="mt-0">Item Name</h5>
                        <div class="item_name_text  mt-2">
                            <p>Wardrobe Brown single door hanger</p>
                        </div>
                    </div>
                    <div class="item_donation_status">
                        <h5>Donation Status</h5>
                        <div class="item_donation_status_text  mt-2">
                            <p>Ready for Pickup</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                    <div class="item-img">
                        <img src="images/logo-landing-page.png" alt="Item">
                    </div>
                    <div class="item_name h-100 d-flex flex-column align-items-center justify-content-between">
                        <h5 class="mt-0">Item Name</h5>
                        <div class="item_name_text  mt-2">
                            <p>Wardrobe Brown single door hanger</p>
                        </div>
                    </div>
                    <div class="item_donation_status">
                        <h5>Donation Status</h5>
                        <div class="item_donation_status_text  mt-2">
                            <p>Accepted</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                    <div class="item-img">
                        <img src="images/logo-landing-page.png" alt="Item">
                    </div>
                    <div class="item_name h-100 d-flex flex-column align-items-center justify-content-between">
                        <h5 class="mt-0">Item Name</h5>
                        <div class="item_name_text  mt-2">
                            <p>Wardrobe Brown single door hanger</p>
                        </div>
                    </div>
                    <div class="item_donation_status">
                        <h5>Donation Status</h5>
                        <div class="item_donation_status_text  mt-2">
                            <p>Requested</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                    <div class="item-img">
                        <img src="images/logo-landing-page.png" alt="Item">
                    </div>
                    <div class="item_name h-100 d-flex flex-column align-items-center justify-content-between">
                        <h5 class="mt-0">Item Name</h5>
                        <div class="item_name_text  mt-2">
                            <p>Wardrobe Brown single door hanger</p>
                        </div>
                    </div>
                    <div class="item_donation_status">
                        <h5>Donation Status</h5>
                        <div class="item_donation_status_text  mt-2">
                            <p>Picked up</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                    <div class="item-img">
                        <img src="images/logo-landing-page.png" alt="Item">
                    </div>
                    <div class="item_name h-100 d-flex flex-column align-items-center justify-content-between">
                        <h5 class="mt-0">Item Name</h5>
                        <div class="item_name_text  mt-2">
                            <p>Wardrobe Brown single door hanger</p>
                        </div>
                    </div>
                    <div class="item_donation_status">
                        <h5>Donation Status</h5>
                        <div class="item_donation_status_text  mt-2">
                            <p>Ready for Pickup</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                    <div class="item-img">
                        <img src="images/logo-landing-page.png" alt="Item">
                    </div>
                    <div class="item_name h-100 d-flex flex-column align-items-center justify-content-between">
                        <h5 class="mt-0">Item Name</h5>
                        <div class="item_name_text  mt-2">
                            <p>Wardrobe Brown single door hanger</p>
                        </div>
                    </div>
                    <div class="item_donation_status">
                        <h5>Donation Status</h5>
                        <div class="item_donation_status_text  mt-2">
                            <p>Ready for Pickup</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3  my-3 main_items justify-content-around  bg-light">
                    <div class="item-img">
                        <img src="images/logo-landing-page.png" alt="Item">
                    </div>
                    <div class="item_name h-100 d-flex flex-column align-items-center justify-content-between">
                        <h5 class="mt-0">Item Name</h5>
                        <div class="item_name_text  mt-2">
                            <p>Wardrobe Brown single door hanger</p>
                        </div>
                    </div>
                    <div class="item_donation_status">
                        <h5>Donation Status</h5>
                        <div class="item_donation_status_text  mt-2">
                            <p>Ready for Pickup</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

    <script src="app.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN'
        crossorigin='anonymous'></script>
</body>

</html>